<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Gen</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <section class="home">
        <nav>
            <div class="logo">
                <img src="/images/logo.png" alt="logo">
                <span>DesignGen</span>
            </div>
            <div class="navItems">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#pages">Pages</a></li>
                <li><a href="#support">Support</a></li>
            </div>
            <div class="user">
                <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
                <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
                <a class="btn btn-dark btn-lg" href="/auth/google" role="button">Google</a>
            </div>
        </nav>
        <div class="content">
            <div class="text">
                <h1>Discover the power of design</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id elementum. Quam vel aliquam sit vulputate.</p>
            </div>
            <div class="img">
                <img src="/images/01.jpg" alt="">
                <img src="/images/02.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="getStarted">
        <div class="button">
            <button>Get Started</button>
        </div>
        <div class="points">
            <div class="point">
                <span>01</span>
                <p>Where we explore, stretch, laugh, lead, discover, observe, create, give, connect and have fun!</p>
            </div>
            <div class="point">
                <span>02</span>
                <p>Where we explore, stretch, laugh, lead, discover, observe, create, give, connect and have fun!</p>
            </div>
            <div class="point">
                <span>03</span>
                <p>Where we explore, stretch, laugh, lead, discover, observe, create, give, connect and have fun!</p>
            </div>
        </div>
    </section>
    <section class="images">
        <img src="/images/1.jpg" alt="">
        <img src="/images/2.jpg" alt="">
        <img src="/images/3.jpg" alt="">
    </section>
</body>
</html>