<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <!-- <img src="/public/images/bg.png" class="registerBgImg" alt=""> -->
    <section class="register">
        <form action="/login" method="POST">
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="email" class="form-control" name="username">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password">
            <button type="submit" class="btn btn-dark">Login</button>
        </form>
    </section>
</body>
</html>