<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <!-- <img src="/public/images/bg.png" class="registerBgImg" alt=""> -->
    <section class="page">
        <form action="/logout" method="GET">
            <h1>Let's go like copy and paste.</h1>
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </section>
</body>
</html>